/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Add your CSS below */
body {
  background-color: #ECDFD2;
  color: #4A413C;
  font-family: Trebuchet MS;
  text-align: center;
  margin: 0;
  padding: 20px;
}
img {
  width: 100%;
}

figure {
  max-width: 400px;
}

h1 {
  color: #A66783;
  font-size: 3rem;
  margin-bottom: 10px;
}

h2 {
  color: #A66783;
  font-size: 3rem;
  border-bottom: 3px solid #8b4513;
  padding-bottom: 10px;
}

nav {
  margin: 20px 0;
}

nav a {
  color: #DAC663;
  text-decoration: none;
  margin: 10px 0;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 5px
}

a:hover {
  background: darkgoldenrod
}