/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  width: 80%;
}

/* Add your CSS below */
body {
  background-color: #EED9C4;
  color: #4A413C;
  font-family: 'ABeeZee', 'sans-serif';
  text-align: center;
  max-width: 600px;
  margin: auto;
  padding: 20px;
}
h1 {
  color: #cd1c18;
  font-size: 3rem;
  margin-bottom: 10px;
}
h2 {
  color: #cd1c18;
  font-size: 2rem;
  margin-bottom: 15px;
  border-bottom: 10px;
  padding-bottom: 3px solid #cd1c18;
}
nav>a {
  color: #4A413C;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 3px;
}
a:hover {
  background-color: #FAF0E6;
}
figure {
  margin: 20px 0;
}
img {
  max-width: 100%;
  border-radius: 10px;
}
#figcaption {
  font-style: italic;
  margin-top: 8px;
}
section {
  background-color: #FAF0E6;
  text-align: left;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
}
#description {
  border-left: 4px solid #cd1c18;
  padding-left: 15px;

}
ul {
  padding: 0px;
  margin-top: 10px;
}
ol {
  padding-left: 25px;
  border-radius: 10px;
}
.ingredients-list {
  padding: 12px;
  background-color: #D1E231;
  border-radius: 5px;
  margin-bottom: 8px;
}
.instructions-list {
  padding: 10px 0;
  margin-bottom: 10px;
}
footer {
  border-top: 3px solid #cd1c18;
  padding-top: 15px;
  margin-top: 30px;
}